@model Marketplace.Models.ProductViewModel

@{
    ViewBag.Title = "Create";
}

<div class="container">
    <div class="well">
        <h2>Create Product</h2>
        @using (Html.BeginForm("Create", "Product", null, FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                @Html.ValidationSummary("", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.LabelFor(m => m.Make, new { @class = "control-label col-sm-4" })
                    <div class="col-sm-4">
                        @Html.TextBoxFor(m => m.Make, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Model, new { @class = "control-label col-sm-4" })
                    <div class="col-sm-4">
                        @Html.TextAreaFor(m => m.Model, new { @class = "form-control", @rows = "7" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Size, new { @class = "control-label col-sm-4" })
                    <div class="col-sm-4">
                        @Html.TextBoxFor(m => m.Size, new
                   {
                       @class = "form-control",
                       placeholder = "Size"
                   })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Material, new { @class = "control-label col-sm-4" })
                    <div class="col-sm-4">
                        @Html.TextAreaFor(m => m.Material, new { @class = "form-control", @rows = "7" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Price, new { @class = "control-label col-sm-4" })
                    <div class="col-sm-4">
                        @Html.TextBoxFor(m => m.Price, new
                   {
                       @class = "form-control",
                       placeholder = "Price in BGN"
                   })
                    </div>
                </div>


                <div class="form-group">
                    @Html.LabelFor(m => m.Description, new { @class = "control-label col-sm-4" })
                    <div class="col-sm-4">
                        @Html.TextAreaFor(m => m.Description, new { @class = "form-control", @rows = "7" })
                    </div>
                </div>



                <div class="form-group">

                    @Html.LabelFor(m => m.Categories, new { @class = "col-sm-4 control-label text-danger" })
                    <div class="dropdown col-sm-4">
                        @Html.DropDownListFor(m => m.CategoryId,
                            new SelectList(Model.Categories, "Id", "Title"),
                            new { @class = "btn btn-info col-sm-12" })
                    </div>
                </div>

                <span class="form-group">
                    @Html.Label("Picture", new { @class = "control-label col-sm-4 text-danger" })
                    <span class="col-sm-4">
                        <input type="file" id="Avatar" name="upload" />
                    </span>
                </span>

                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-4">
                        @Html.ActionLink("Cancel", "Index", "Product", null, new { @class = "btn btn-default" })
                        <input type="submit" value="Create" class="btn btn-success" />
                    </div>
                </div>
            </div>
        }

    </div>

</div>
